/* Elements tab */

#elements-content.elements-wrap {
	padding: 12px !important;
}

.elements-disclosure {
	line-height: 1.6 !important;
}

:host-context(.platform-mac) .monospace, :host-context(.platform-mac) .source-code, .platform-mac .monospace, .platform-mac .source-code {
	font-size: 14px !important;
	font-family: "Operator Mono", Menlo, monospace !important;
}

/* Console tab */

#console-messages {
	padding: 0 !important;
}

.console-message, .console-user-command {
	line-height: 1.2 !important;
	padding: 5 22px 5 0 !important;
	font-size: 15px !important;
}

.message-level-icon, .command-result-icon {
	top: 7px !important;
}